<div class="app-container">

  <!-- LOGIN -->
  @if (pantalla === 'login') {
    <app-login
      (cambiarPantallaEvent)="cambiarPantalla($any($event))">
    </app-login>
  }

  <!-- ADMIN PRINCIPAL -->
  @if (pantalla === 'admin') {
    <app-admin-principal
      (cerrarSesionEvent)="cambiarPantalla($any($event))">
    </app-admin-principal>
  }
  <!-- CLIENTE -->
  @if (pantalla === 'cliente-principal') {
    <app-cliente-principal
      (cerrarSesionEvent)="cambiarPantalla($any($event))">
    </app-cliente-principal>
  }
  <!-- GESTIONAR PAQUETE -->
  @if (pantalla === 'gestionar-paquete') {
    <app-gestionar-paquete
      (cerrarSesionEvent)="cambiarPantalla($any($event))">
    </app-gestionar-paquete>
  }

  <!-- GESTIONAR manipulador -->
  @if (pantalla === 'gestionar-manipulador') {
    <app-gestionar-manipulador
      (cerrarSesionEvent)="cambiarPantalla($any($event))">
    </app-gestionar-manipulador>
  }
  <!-- GESTIONAR conductor -->
  @if (pantalla === 'gestionar-conductor') {
    <app-gestionar-conductor
      (cerrarSesionEvent)="cambiarPantalla($any($event))">
    </app-gestionar-conductor>
  }
  <!-- GESTIONAR cliente -->
  @if (pantalla === 'gestionar-cliente') {
    <app-gestionar-cliente
      (cerrarSesionEvent)="cambiarPantalla($any($event))">
    </app-gestionar-cliente>
  }
  <!-- Conductor -->
  @if (pantalla === 'conductor.component') {
    <app-conductor
      (cerrarSesionEvent)="cambiarPantalla($any($event))">
    </app-conductor>
  }
  <!-- Manipulador -->
  @if (pantalla === 'manipulador.component') {
    <app-manipulador
      (cerrarSesionEvent)="cambiarPantalla($any($event))">
    </app-manipulador>
  }
  <!-- FOOTER GLOBAL -->
  <footer class="footer">
    <div>MadeBy: UEBRAPIDISIMO</div>
    <div>Version: 1.0.0</div>
  </footer>

</div>
